node_labels = {
  "server" = {
    "example.com/custom-label1" = "custom-value1"
    "example.com/custom-label2" = "custom-value2"
  }
  "agent1" = {
    "example.com/another-label" = "another-value"
  }
  "agent2" = {
    "example.com/another-label" = "another-value"
  }
}
traefik_hostname                      = "traefik.example.com"
argocd_hostname                       = "argocd.example.com"
longhorn_hostname                     = "longhorn.example.com"
redisinsight_hostname                 = "redisinsight.example.com"
postgresql_hostname                   = "postgresql.example.com"
rancher_host_name                     = "rancher.example.com"
traefik_users_secret                  = "dXNlcjokYXByMSR2T3VaUC54TSRZMVZiL2dlQUNPTEl0bWNodWxHd0YxCgo="
longhorn_users_secret                 = "dXNlcjokYXByMSR2T3VaUC54TSRZMVZiL2dlQUNPTEl0bWNodWxHd0YxCgo="
longhorn_minio_aws_access_key_id      = "MTIzNAo="
longhorn_minio_aws_secret_access_key  = "Nzg5MAo="
longhorn_minio_aws_endpoint           = "aHR0cDovLzEyNy4wLjAuMTo5MDAw" # http://127.0.0.1:9000
redisinsight_users_secret             = "dXNlcjokYXByMSR2T3VaUC54TSRZMVZiL2dlQUNPTEl0bWNodWxHd0YxCgo="
rabbitmq_admin_password               = "changethispassword1"
rabbitmq_storageclass_name            = "longhorn"
rabbitmq_storage_size                 = "2Gi"
redis_storageclass_name               = "longhorn"
redis_storage_size                    = "2Gi"
postgresql_storageclass_name          = "longhorn"
postgresql_storage_size               = "2Gi"
postgresql_admin_password             = "changethispassword2"
postgresql_username                   = "user"
postgresql_password                   = "changethispassword3"
gitlab_certmanager_issuer_email       = "your-email@example.com"
